@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Guia 2 Unidad 3</h1>
    <p><a href="https://github.com/iAlfredoAlas">Alfredo Antonio Alas Marroquin</a>.</p>
</div>
